


<div class="container-fluid" id="demo-view">
    <div class = "row">

        <div class = 'col-md-12 header-head-for-all-html'>
            <a href = "user" style = "text-decoration: none; color: #FFF; width:100%;">
                <h1 class = 'display-3'>Los Angeles Police Department Crime Watchers</h1>
            </a>
        </div>
    </div>
    <div class = "row menu-column-for-head">
        <div class = "col-md-6 menu-column-for-head-tab">
            <a href = "user" style = "text-decoration: none; color: #FFF;">HOME PAGE</a>
        </div>
        <div class = "col-md-6 menu-column-for-head-tab">
            <a href = "aboutUs" style = "text-decoration: none; color: #FFF;">ABOUT US</a>
        </div>
    </div>
    <div class = "row gap-20px">
        <div class = col>
            <p></p>
        </div>
    </div>

    <!-- this is the popup that will display when user hovers over graph bar -->
    <div id="tooltip">
        <span id="alfabet" style='line-height:3em; font:2em sans-serif;'></span>
        <p><span id="year"></span></p>
        <p id="popup-title"></p>
        <p><span id="value"></span></p>
    </div>

    <div class="row">
        <div class="col-sm-6">

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <table class="table table-striped table-dark"">
            <tr>
                <th scope="col">AREA NO</th>
                <th scope="col">AREA NAME</th>

            <div ng-if="unsafeAreaByGenderCtrl.flag" class="col-md-12">
                <nvd3 options="unsafeAreaByGenderCtrl.graphOptions" data="unsafeAreaByGenderCtrl.graphData"></nvd3>
            </div>



            </tr>


            <tr ng-repeat="x in result">
                <th scope="row">{{x.NO}}</th>
                <td>{{x.AREA}}</td>


            </tr>
            </table>




        </div>

        <div class="col-sm-6 standard-text" id="demo-text">

            <p id="lesser-title">L.A. CRIME DATA AVAILABLE FROM 2015-2017.</p>
            <p id="sub-title">Allows you to organize crime data according to Gender, Race and Minimum Age.</p>

            <hr>

            <form class="form-inline">
                <!--<div class="form-group">-->
                    <!--<input data-ng-model="unsafeAreaByGenderCtrl.gender" type="text" class="form-control" id="gender" placeholder="Gender">-->
                <!--</div>-->
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{unsafeAreaByGenderCtrl.gender}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <a ng-click="unsafeAreaByGenderCtrl.selectGender(gender)" class="dropdown-item" ng-repeat="gender in unsafeAreaByGenderCtrl.genderList">
                            {{gender}}
                        </a>
                    </div>
                </div>

                <!--<div class="form-group">-->
                    <!--<input data-ng-model="unsafeAreaByGenderCtrl.race" type="text" class="form-control" id="race" placeholder="Race">-->
                <!--</div>-->
                <div class="dropdown ">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{unsafeAreaByGenderCtrl.race}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a ng-click="unsafeAreaByGenderCtrl.selectRace(race)" class="dropdown-item" ng-repeat="race in unsafeAreaByGenderCtrl.raceList">
                            {{race.RACE}}
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <input data-ng-model="unsafeAreaByGenderCtrl.age" type="text" class="form-control" id="age" placeholder="Age">
                </div>

                <button ng-click="unsafeAreaByGenderCtrl.myFunc()" class="btn" id="gen-button">Go!</button>
                <!--<button data-ng-click="" type="submit" class="btn" id="reset-button">Reset Graph</button>-->
            </form>

            <hr>

            <p></p>

            <p></p>

            <p></p>
        </div>
    </div>

    <!--<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="./css/stylemin.css">-->

</div>


