<div>
        <div class="container-fluid" id="demo-view">
            <div class = "row">

                <div class = 'col-md-12 header-head-for-all-html'>
                    <a href = "user" style = "text-decoration: none; color: #FFF; width:100%;">
                        <h1 class = 'display-3'>Los Angeles Police Department Crime Watchers</h1>
                    </a>
                </div>
            </div>
            <div class = "row menu-column-for-head">
                <div class = "col-md-6 menu-column-for-head-tab">
                    <a href = "user" style = "text-decoration: none; color: #FFF;">HOME PAGE</a>
                </div>
                <div class = "col-md-6 menu-column-for-head-tab">
                    <a href = "aboutUs.html" style = "text-decoration: none; color: #FFF;">ABOUT US</a>
                </div>
            </div>
            <div class = "row gap-20px">
                <div class = col>
                    <p></p>
                </div>
            </div>
        <div class = "row">
            <div class = "col-md-4">
                <h1  class = "display-4">
                    CRIME WATCH
                </h1>
                <p class = "lead">
                    Colloquially known as <mark>CRIMEWATCH</mark>; this website application, primarily designed to analyse
                    historic crime data from the city of Los Angeles, aims to provide significant methods to make user
                    interactible set of solutions for the crime that occurs in this city.
                    Imagine if you moved to the city of L.A. and you do not have a point of reference,
                    The application lets the user recognize patterns in crime, weapons used and
                    the demographics of victims which facilitates better understanding of crime
                    in its entirety.
                </p>
            </div>
            <div class = "col-md-6">
                <h1 class = "display-4" style = "text-align: center;">
                    Available Options
                </h1>
                <div style = "text-align:center">
                    <nvd3 options="weaponQueryCtrl.graphOptions" data="weaponQueryCtrl.graphData"></nvd3>
                </div>
            </div>
        </div>
        <br></br><br></br><br></br><br></br><br></br><br></br><br></br>
        <footer style = "width: 100%">Group #18. Copyright &copy; LAPD</footer>
        <script src="https://d3js.org/d3.v4.min.js"></script>
    </div>
</div>
